body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td.available {
    color: green;
    font-weight: bold;
}

td.unavailable {
    color: red;
    font-weight: bold;
}

th {
    background-color: #3391f5;
    color: white;
}

tr.inactive {
    background-color: #3391f5;
    
}

tr.active:hover {
    background-color: #f1f1f1;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button.btn-available {
    background-color: #2e8141;
    width: 95px;
    color: white;
    font-weight: bold;
    border: 1px solid #333;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button.reserve {
    background-color: rgb(219, 30, 30);
    width: 95px;
    color: white;
    font-weight: bold;
    border: 1px solid #333;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button.deleteBtn-available {
    background-color: #2e8141;
    width: 50px;
    color: white;
    font-weight: bold;
    border: 1px solid #333;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button.btn-unavailable {
    background-color: #5e615fe1;
    width: 95px;
    color: white;
    font-weight: bold;
    border: 1px solid #333;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button.reserve:hover {
    background-color: rgb(184, 71, 71);
}

button.btn-available:hover {
    background-color: #218838;
}

input {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

form.login {
    text-align: center;
    padding: 25px;
    width: 300px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 20px 50px rgba(25, 90, 5, 0.1);
    margin: 300px 800px;
}

.add-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
}

.add-form input {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.add-form button {
    margin-top: 10px;
    width: 100%;
}