---
layout: instances
---

<form class="login" action="/sessions" method="POST">
    <h3>Authentication</h3>
    <input type="password" placeholder="ACCESS_TOKEN" name="token" value="">
    <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
    <button class="btn-available" type="submit" value="login">Log In</button>
</form>