<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ 'styles/app.css' | asset_url }}">
        <title>Pooling instances</title>
    </head>

    <body>
        {{ content_for_layout }}
    </body>
</html>